<div class='card border-primary product'>
  <div class='card-header'>
      MR Zhang
  </div>
  <div class='card-body'>
      <div class='row'>
          <div class='col-md-2'>Filtruj:</div>
          <div class='col-md-4'>
              <input type='text' [(ngModel)]="productId"/>
          </div>
      </div>
      <div class='row'>
          <div class='col-md-3'>
              <h3>Filtrowanie po:</h3>
          </div>
      </div>
      <div class='table-responsive' *ngIf='products && products.length'>
          <table class='table'>
              <thead>
                  <tr>
                      <!-- <th>
                          <button class='btn btn-primary'>
                              Pokaż obrazek
                          </button>
                      </th> -->
                      <th>Produkt</th>
                      <th>Kod</th>
                      <th>Dostępny od</th>
                      <th>Cena</th>
                      <th>Ocena</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let product of products;'>
                      <!-- <td></td> -->
                      <td>{{product.productName}}</td>
                      <td>{{product.productCode}}</td>
                      <td>{{product.releaseDate}}</td>
                      <td>{{product.price}}</td>
                      <td>{{product.starRating}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>

  <p>
      here is product info
  </p>
  <p>
      product id: {{productId}}
    </p>
    <a [routerLink]="['./']">product desc</a>
    <a [routerLink]="['./seller', 99]">seller info</a>
  <router-outlet></router-outlet>
</div>